@tailwind base;
@tailwind components;
@tailwind utilities;

.common-header-gradient1 {
    background: linear-gradient(24deg, #37DBA0 4%, #50DFFF 46.48%, #2A69C7 88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.common-header-gradient2 {
    background: linear-gradient(24deg, #37DBA0 10%, #50DFFF 46.48%, #2A69C7 58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Banner */
.banner-bg-img {
    background-image: url(../public/Home/banner-bg.png);
}

/* Brands */
.brandsBgCSS {
    border-radius: 30px;
    background: linear-gradient(331deg, rgba(69, 10, 77, 0.15) 1.67%, #5B1FDB 393.35%);
    backdrop-filter: blur(10px);
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

/* Features */
.common-card-css {
    border-radius: 20px;
    border: 1.5px solid rgba(87, 33, 203, 0.30);
    background: linear-gradient(137deg, rgba(155, 121, 255, 0.15) 0%, rgba(21, 14, 59, 0.15) 100%);
    backdrop-filter: blur(12.5px);
}

.card1-bg-image {
    background-image: url(../public/Features/monkey-1.png);
}

/* .common-card-css:hover .card1-bg-image {
    scale: 1;
} */

.card2-bg-image {
    background-image: url(../public/Features/monkey-2.png);
}

.card3-bg-image {
    background-image: url(../public/Features/monkey-3.png);
}

.card4-bg-image {
    background-image: url(../public/Features/monkey-4.png);
}

.card5-bg-image {
    background-image: url(../public/Features/monkey-5.png);
}

.card6-bg-image {
    background-image: url(../public/Features/monkey-6.png);
}

.card7-bg-image {
    background-image: url(../public/Features/monkey-7.png);
}

.FeaturesBgImages {
    background-image: url(../public/blue-effect.png), url(../public/violet-effect.png);
    background-position: 165%, -35%;
    background-repeat: no-repeat;
    background-size: contain;
}


/* NFT Creator Css */
.nftCreatorCSS {
    border-radius: 40px;
    border: 1.5px solid #ffffff2a;
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.08) -3.07%, rgba(255, 255, 255, 0.08) 49.04%, rgba(255, 255, 255, 0.00) 97.84%);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}



@media (max-width: 672px) {

    /* Banner */
    .bannerButtons {
        flex-direction: column;
    }

    .bannerButtons button {
        width: 100%;
        padding: 10px 0;
    }

    /* Brands */
    .brandsBgCSS {
        border-radius: 20px;
    }
}

@media (min-width: 1023px) and (max-width: 1130px) {
    .featureCardBottom {
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }

    .featureCardBottom button {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .maxWidthCSS {
        padding: 0 100px;
    }
}


@media (max-width: 895px) {
    .maxWidthCSS {
        padding: 0 50px;
    }
}


@media (max-width: 767px) {
    .maxWidthCSS {
        padding: 0 180px;
        margin: 60px 0;
    }

    .widthStyle {
        margin: 80px 100px;
    }
}

@media (max-width: 750px) {
    .maxWidthCSS {
        padding: 0 150px;
    }
}

@media (max-width: 679px) {
    .maxWidthCSS {
        padding: 0 100px;
    }

    .widthStyle {
        margin: 80px 80px;
    }
}

@media (max-width: 575px) {
    .maxWidthCSS {
        padding: 0 80px;
    }

    .widthStyle {
        margin: 80px 50px;
    }
}

@media (max-width: 475px) {
    .maxWidthCSS {
        padding: 0;
    }

    .widthStyle {
        margin: 80px 25px;
    }
}