@tailwind base;
@tailwind components;
@tailwind utilities;

.common-header-gradient {
    background: linear-gradient(24deg, #37DBA0 10%, #50DFFF 46.48%, #2A69C7 88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-bg-img {
    background-image: url(../public/Home/banner-bg.png);
    /* mix-blend-mode: color-dodge; */
}

/* .common-card-css {
    border-radius: 20px;
    border: 1.5px solid rgba(87, 33, 203, 0.30);
    background: linear-gradient(137deg, rgba(155, 121, 255, 0.15) 0%, rgba(21, 14, 59, 0.15) 100%);
    backdrop-filter: blur(12.5px);
} */

.card1-bg-image {
    background-image: url(../public/Monkey.png);
}

.card-inner-bg-css {
    background: rgba(37, 20, 68, 0.67);
    backdrop-filter: blur(2px);
}